.icon {
    width: 50px;
    height: 50px;
    fill: white;
}

section {
            margin: 0;
            padding: 10%
}

li {
    display: inline;
}
header {
    position: relative;
    background: url("/Assets/Pictures/IMG_9780.JPG");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 66.64%;
    color: black;
}

header ul {
    position: absolute;
    right: 20px;
    top: 20px;
}

header li {
    list-style: none;
    display: inline;
}

img {
    max-width: 100%;
}

footer {
    background-color: black;
}

.filter-white{
    width:20px;
    height:20px;
    filter: invert(100%) sepia(0%) saturate(7487%) hue-rotate(148deg) brightness(100%) contrast(95%);
} 